[View in Colaboratory](https://colab.research.google.com/github/nisar009/Kaggle_Notebooks/blob/master/kg2.ipynb)

In [0]:
%%capture
!pip install fastai
!pip install torch torchvision
!pip install kaggle-cli

In [3]:
!mkdir -p data/homecredit && cd data/homecredit && kg download -u nisar009 -p p@55w0rd -c home-credit-default-risk

downloading https://www.kaggle.com/c/home-credit-default-risk/download/sample_submission.csv.zip

sample_submission.csv.zip 100% |####################| Time: 0:00:00 609.2 KiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/application_test.csv.zip

application_test.csv.zip 100% |#####################| Time: 0:00:00  13.6 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/application_train.csv.zip

application_train.csv.zip 100% |####################| Time: 0:00:01  29.6 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/bureau.csv.zip

bureau.csv.zip 100% |###############################| Time: 0:00:01  27.1 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/bureau_balance.csv.zip

bureau_balance.csv.zip 100% |#######################| Time: 0:00:02  27.3 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/previous_application.csv.zip

previous_application.csv.zip 100% |#################| Time: 0:00:02  28.7 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/credit_card_balance.csv.zip

credit_card_balance.csv.zip  27% |#####             | ETA:  0:00:02  26.2 MiB/s

credit_card_balance.csv.zip 100% |##################| Time: 0:00:02  31.4 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/POS_CASH_balance.csv.zip

POS_CASH_balance.csv.zip 100% |#####################| Time: 0:00:03  29.0 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/installments_payments.csv.zip

installments_payments.csv.zip 100% |################| Time: 0:00:08  31.2 MiB/s

downloading https://www.kaggle.com/c/home-credit-default-risk/download/HomeCredit_columns_description.csv

HomeCredit_columns_description.csv 100% |###########| Time: 0:00:00 196.8 KiB/s

In [6]:
!cd data/homecredit && for i in `ls`; do unzip $i; done

Archive:  application_test.csv.zip
  inflating: application_test.csv
Archive:  application_train.csv.zip
  inflating: application_train.csv
Archive:  bureau_balance.csv.zip
  inflating: bureau_balance.csv
Archive:  bureau.csv.zip
  inflating: bureau.csv
Archive:  credit_card_balance.csv.zip
  inflating: credit_card_balance.csv
Archive:  HomeCredit_columns_description.csv
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of HomeCredit_columns_description.csv or
        HomeCredit_columns_description.csv.zip, and cannot find HomeCredit_columns_description.csv.ZIP, period.
Archive:  installments_payments.csv.zip
  inflating: installments_payments.csv
Archive:  POS_CASH_balance.csv.zip
  inflating: POS_CASH_balance.csv
Archive:  previous_application.csv.zip
  inflating: previous_application.csv
Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

In [7]:
!cd data/homecredit && ls

application_test.csv	     HomeCredit_columns_description.csv
application_test.csv.zip     installments_payments.csv
application_train.csv	     installments_payments.csv.zip
application_train.csv.zip    POS_CASH_balance.csv
bureau_balance.csv	     POS_CASH_balance.csv.zip
bureau_balance.csv.zip	     previous_application.csv
bureau.csv		     previous_application.csv.zip
bureau.csv.zip		     sample_submission.csv
credit_card_balance.csv      sample_submission.csv.zip
credit_card_balance.csv.zip

In [10]:
import pandas as pd

PATH = 'data/homecredit/'

df = pd.read_csv(f'{PATH}application_train.csv')
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
DataFrameSummary(df).summary()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511,307511,NaN,NaN,NaN,NaN,307511,307511,307511,307499,...,307511,307511,307511,307511,265992,265992,265992,265992,265992,265992
mean,278181,0.0807288,NaN,NaN,NaN,NaN,0.417052,168798,599026,27108.6,...,0.00812979,0.000595101,0.000507299,0.000334947,0.00640245,0.00700021,0.0343619,0.267395,0.265474,1.89997
std,102790,0.272419,NaN,NaN,NaN,NaN,0.722121,237123,402491,14493.7,...,0.0897982,0.0243875,0.0225176,0.0182985,0.0838491,0.110757,0.204685,0.916002,0.794056,1.86929
min,100002,0,NaN,NaN,NaN,NaN,0,25650,45000,1615.5,...,0,0,0,0,0,0,0,0,0,0
25%,189146,0,NaN,NaN,NaN,NaN,0,112500,270000,16524,...,0,0,0,0,0,0,0,0,0,0
50%,278202,0,NaN,NaN,NaN,NaN,0,147150,513531,24903,...,0,0,0,0,0,0,0,0,0,1
75%,367142,0,NaN,NaN,NaN,NaN,1,202500,808650,34596,...,0,0,0,0,0,0,0,0,0,3
max,456255,1,NaN,NaN,NaN,NaN,19,1.17e+08,4.05e+06,258026,...,1,1,1,1,4,9,8,27,261,25
counts,307511,307511,307511,307511,307511,307511,307511,307511,307511,307499,...,307511,307511,307511,307511,265992,265992,265992,265992,265992,265992
uniques,307511,2,2,3,2,2,15,2548,5603,13672,...,2,2,2,2,5,9,9,24,11,25
missing,0,0,0,0,0,0,0,0,0,12,...,0,0,0,0,41519,41519,41519,41519,41519,41519
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0.00%,...,0%,0%,0%,0%,13.50%,13.50%,13.50%,13.50%,13.50%,13.50%
types,numeric,bool,bool,categorical,bool,bool,numeric,numeric,numeric,numeric,...,bool,bool,bool,bool,numeric,numeric,numeric,numeric,numeric,numeric

In [12]:
df_bureau = pd.read_csv(f'{PATH}bureau.csv')
DataFrameSummary(df_bureau).summary()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.71643e+06,1.71643e+06,NaN,NaN,1.71643e+06,1.71643e+06,1.61088e+06,1.08278e+06,591940,1.71643e+06,1.71642e+06,1.45876e+06,1.12465e+06,1.71643e+06,NaN,1.71643e+06,489637
mean,278215,5.92443e+06,NaN,NaN,-1142.11,0.818167,510.517,-1017.44,3825.42,0.00641041,354995,137085,6229.51,37.9128,NaN,-593.748,15712.8
std,102939,532266,NaN,NaN,795.165,36.5444,4994.22,714.011,206032,0.0962239,1.14981e+06,677401,45032,5937.65,NaN,720.747,325827
min,100001,5e+06,NaN,NaN,-2922,0,-42060,-42023,0,0,0,-4.7056e+06,-586406,0,NaN,-41947,0
25%,188867,5.46395e+06,NaN,NaN,-1666,0,-1138,-1489,0,0,51300,0,0,0,NaN,-908,0
50%,278055,5.9263e+06,NaN,NaN,-987,0,-330,-897,0,0,125518,0,0,0,NaN,-395,0
75%,367426,6.38568e+06,NaN,NaN,-474,0,474,-425,0,0,315000,40153.5,0,0,NaN,-33,13500
max,456255,6.84346e+06,NaN,NaN,0,2792,31199,0,1.15987e+08,9,5.85e+08,1.701e+08,4.7056e+06,3.75668e+06,NaN,372,1.18453e+08
counts,1716428,1716428,1716428,1716428,1716428,1716428,1610875,1082775,591940,1716428,1716415,1458759,1124648,1716428,1716428,1716428,489637
uniques,305811,1716428,4,4,2923,942,14096,2917,68251,10,236708,226537,51726,1616,15,2982,40321
missing,0,0,0,0,0,0,105553,633653,1124488,0,13,257669,591780,0,0,0,1226791
missing_perc,0%,0%,0%,0%,0%,0%,6.15%,36.92%,65.51%,0%,0.00%,15.01%,34.48%,0%,0%,0%,71.47%
types,numeric,numeric,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric,numeric

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.500,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.50,0,2700000.000,NaN,NaN,0.0,Consumer credit,-21,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.00,0,76878.450,0.000,0.000,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.00,0,103007.700,0.000,0.000,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.00,0,4500.000,0.000,0.000,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.00,0,337500.000,0.000,0.000,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-706,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.00,0,89910.000,76905.000,0.000,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,0.000,0.0,Credit card,-185,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,NaN,0.0,Consumer credit,-2601,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-984,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,NaN,0.0,Credit card,-7,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.00,0,0.000,-411.615,411.615,0.0,Credit card,-694,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.500,0.000,0.000,0.0,Credit card,-210,NaN
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,0.000,0.0,Consumer credit,-24,NaN
24,222183,5714495,Closed,currency 1,-2744,0,-2561.0,-2559.0,310.50,0,18157.500,NaN,NaN,0.0,Consumer credit,-2559,NaN
25,222183,5714496,Closed,currency 1,-1103,0,-7.0,-343.0,20493.27,0,675000.000,0.000,0.000,0.0,Consumer credit,-343,NaN
27,426155,5714498,Closed,currency 1,-1331,0,-994.0,-1023.0,1350.00,0,39433.500,0.000,0.000,0.0,Consumer credit,-1023,NaN
28,426155,5714499,Closed,currency 1,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,0.000,0.0,Consumer credit,-2345,NaN
29,426155,5714500,Closed,currency 1,-845,0,-480.0,-480.0,0.00,0,67500.000,0.000,0.000,0.0,Consumer credit,-480,NaN
30,426155,5714501,Closed,currency 1,-529,0,-343.0,-343.0,0.00,0,182791.440,0.000,0.000,0.0,Consumer credit,-337,NaN
31,136226,5714502,Active,currency 1,-521,0,551.0,NaN,NaN,0,112500.000,0.000,0.000,0.0,Credit card,-30,NaN
32,136226,5714503,Closed,currency 1,-559,0,NaN,-355.0,0.00,0,110250.000,0.000,0.000,0.0,Credit card,-351,NaN
33,400486,5714504,Closed,currency 1,-2413,0,-1864.0,-2128.0,NaN,0,180000.000,0.000,0.000,0.0,Consumer credit,-708,NaN
34,400486,5714506,Active,currency 1,-941,0,-17.0,NaN,NaN,0,40500.000,0.000,0.000,0.0,Credit card,-15,NaN
35,400486,5714507,Closed,currency 1,-1110,0,-745.0,-727.0,NaN,0,114727.500,0.000,0.000,0.0,Consumer credit,-658,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716316,327368,5055224,Active,currency 1,-228,0,31092.0,NaN,NaN,0,13500.000,0.000,0.000,0.0,Credit card,-15,NaN
1716317,327368,5055226,Closed,currency 1,-1090,0,-724.0,-936.0,NaN,0,135000.000,0.000,NaN,0.0,Consumer credit,-935,NaN
1716318,368218,5055234,Active,currency 1,-249,0,1050.0,NaN,NaN,0,67500.000,64678.500,0.000,0.0,Credit card,-8,NaN
1716321,117222,5055252,Closed,currency 1,-1057,0,-873.0,-873.0,NaN,0,67050.000,0.000,0.000,0.0,Consumer credit,-872,NaN
1716322,392435,5055257,Active,currency 1,-151,0,31092.0,NaN,NaN,0,40500.000,32827.500,NaN,0.0,Credit card,-46,NaN
1716324,104893,5055269,Active,currency 1,-51,0,NaN,NaN,0.00,0,103500.000,92882.250,10617.750,0.0,Credit card,-13,NaN
1716325,229234,5055271,Closed,currency 1,-696,0,-331.0,-390.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-368,NaN
1716326,229234,5055272,Active,currency 1,-696,0,-331.0,NaN,NaN,0,675000.000,292725.000,0.000,0.0,Consumer credit,-431,NaN
1716327,341978,5055274,Closed,currency 1,-723,0,-526.0,-526.0,NaN,0,247500.000,0.000,0.000,0.0,Consumer credit,-515,NaN
1716328,219259,5055279,Closed,currency 1,-558,0,-254.0,-254.0,NaN,0,62532.000,0.000,0.000,0.0,Consumer credit,-253,NaN
1716330,122926,5055298,Active,currency 1,-662,0,433.0,NaN,0.00,0,1575000.000,830860.875,0.000,0.0,Consumer credit,-18,NaN
1716334,283427,5055343,Closed,currency 1,-1371,0,-1097.0,-1098.0,NaN,0,69300.000,0.000,0.000,0.0,Consumer credit,-1098,NaN
1716336,416441,5055360,Closed,currency 1,-803,0,-681.0,-681.0,0.00,0,41242.500,0.000,0.000,0.0,Consumer credit,-681,NaN
1716339,222329,5055376,Closed,currency 1,-619,0,-435.0,-435.0,0.00,0,68175.000,0.000,0.000,0.0,Consumer credit,-433,NaN
1716342,426097,5055401,Closed,currency 1,-44,0,-30.0,-31.0,NaN,0,31500.000,0.000,0.000,0.0,Consumer credit,-22,NaN
1716346,279516,5055431,Closed,currency 1,-2902,0,-1806.0,-1825.0,NaN,0,270000.000,0.000,0.000,0.0,Consumer credit,-557,NaN
1716352,373945,5055522,Closed,currency 1,-775,0,-593.0,-593.0,0.00,0,91692.000,0.000,0.000,0.0,Consumer credit,-593,NaN
1716353,339164,5055535,Closed,currency 1,-704,0,-492.0,-520.0,NaN,0,82615.230,0.000,NaN,0.0,Consumer credit,-517,NaN
1716361,345281,5055592,Active,currency 1,-307,0,424.0,NaN,NaN,0,284400.000,5454.000,0.000,0.0,Consumer credit,-16,NaN
1716362,192260,5055597,Closed,currency 1,-407,0,-199.0,-199.0,0.00,0,314038.935,0.000,0.000,0.0,Consumer credit,-199,NaN
1716363,218015,5057205,Active,currency 1,-125,0,1057.0,NaN,NaN,0,180000.000,0.000,0.000,0.0,Credit card,-38,NaN
1716364,167522,5057214,Active,currency 1,-895,0,241.0,NaN,NaN,0,180000.000,178339.500,0.000,0.0,Credit card,-8,NaN
1716370,108291,5057277,Closed,currency 1,-1546,0,-966.0,-966.0,0.00,0,326876.535,0.000,0.000,0.0,Consumer credit,-966,NaN
1716378,182248,5057361,Active,currency 1,-895,0,203.0,NaN,NaN,0,180000.000,146502.000,0.000,0.0,Credit card,-49,NaN
1716391,129669,5057475,Closed,currency 1,-918,0,-736.0,-711.0,NaN,0,90000.000,NaN,NaN,0.0,Consumer credit,-708,NaN
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,0.000,0.0,Credit card,-42,NaN
1716401,145715,5057569,Closed,currency 1,-2333,0,-2027.0,-1984.0,173.07,0,35032.500,0.000,0.000,0.0,Consumer credit,-1984,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.000,0.000,0.000,0.0,Credit card,-46,NaN
1716411,232118,5057652,Closed,currency 1,-821,0,-425.0,-545.0,0.00,0,108765.720,0.000,0.000,0.0,Consumer credit,-545,NaN
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.00,0,11250.000,11250.000,0.000,0.0,Microloan,-19,NaN