[View in Colaboratory](https://colab.research.google.com/github/nisar009/Kaggle_Notebooks/blob/master/kg2.ipynb)

In [0]:
%%capture
!pip install fastai
!pip install torch torchvision
!pip install kaggle-cli

In [0]:
!mkdir -p data/homecredit && cd data/homecredit && kg download -u nisar009 -p p@55w0rd -c home-credit-default-risk

In [0]:
!cd data/homecredit && for i in `ls`; do unzip $i; done

In [0]:
!cd data/homecredit && ls

In [0]:
import pandas as pd

PATH = 'data/homecredit/'

df = pd.read_csv(f'{PATH}application_train.csv')
df.head()

In [0]:
from fastai.imports import *
DataFrameSummary(df).summary()

In [0]:
df_bureau = pd.read_csv(f'{PATH}bureau.csv')
DataFrameSummary(df_bureau).summary()

Downloading data from the featuretools kernel

In [2]:
!mkdir -p data/homecredit/featuretools && cd data/homecredit/featuretools && wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8" --header="Accept-Language: en-US,en;q=0.9" "https://storage.googleapis.com/kaggle-datasets/28921/40754/feature_matrix.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529337819&Signature=cFbPqR4K4CHq%2B4WVTylsDZ9Q4yMa6h5Y%2FboNjLOWHfhkfV7duH7GEd10fhQ7s%2BNbKk%2BcHe6kYIhtu2o0WInwzHQtE4uqZNkcFEtZhar%2BHMlXHJ%2B5ZoVOXoHr%2FhcYHdXs71z3kvCqO6l3TxYWbvIMFmX82cyxwDpFqLA7Mr%2FuNaYGa%2F6%2BGot1%2B3NyY%2BDd7sKqpc3I6MxUZ8KdTRcnQLpLsTl1HpqsRtu7cS3r7URXjout8vFybQemO%2FFtmX%2Fx5XLJLBqkswvqXVnpeDtddx8oBnsEK8jaWcH6oHbCk5hCSgJaBzbwgYuKmRT55gvF%2FksmcD8ty18JlhTc24yx2W1PDw%3D%3D" -O "feature_matrix.csv.zip" -c

--2018-06-18 15:19:06--  https://storage.googleapis.com/kaggle-datasets/28921/40754/feature_matrix.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529337819&Signature=cFbPqR4K4CHq%2B4WVTylsDZ9Q4yMa6h5Y%2FboNjLOWHfhkfV7duH7GEd10fhQ7s%2BNbKk%2BcHe6kYIhtu2o0WInwzHQtE4uqZNkcFEtZhar%2BHMlXHJ%2B5ZoVOXoHr%2FhcYHdXs71z3kvCqO6l3TxYWbvIMFmX82cyxwDpFqLA7Mr%2FuNaYGa%2F6%2BGot1%2B3NyY%2BDd7sKqpc3I6MxUZ8KdTRcnQLpLsTl1HpqsRtu7cS3r7URXjout8vFybQemO%2FFtmX%2Fx5XLJLBqkswvqXVnpeDtddx8oBnsEK8jaWcH6oHbCk5hCSgJaBzbwgYuKmRT55gvF%2FksmcD8ty18JlhTc24yx2W1PDw%3D%3D
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.201.128, 2607:f8b0:4001:c14::80
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.201.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 990885600 (945M) [application/zip]
Saving to: ‘feature_matrix.csv.zip’

feature_matrix.csv. 100%[===================>] 944.98M   150MB/s    in 7.0s

2018-06-18 15:19:13 (135 MB/s) - ‘feature_matrix.csv.zip’ saved [990885600/990885600]

In [3]:
!cd data/homecredit/featuretools && wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8" --header="Accept-Language: en-US,en;q=0.9" "https://storage.googleapis.com/kaggle-datasets/28921/40754/feature_importances.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529338183&Signature=HncQSjkQxBE%2BrDMJgOmP8oWENPigDv3qN7FOdNT4Ba3G9%2B8xgBnhwunlY0edPbKhpEUnmRQUiy9KtpaIj0s8ZtkIz%2BbalWTeDr72Y%2B0sBWrpsi9xYX97bSPpFRn9eikmvC4yLyV5irSAyhAgCXKWRtx3KYKQro44H3Bshu2MhIXqOX4gFotYkU8OvYOT5L8QSFqdxeC9I%2BS6okQu6qRGko%2F6cw9J7kuLvcYdVaqtv3pAbxPWLL9c%2FQ6AnBwBobBHEAHh7a8C4F%2FUzhtIhziqPzrQe3TVSokeaD2K3dKrlGjZ%2BZ93bhg4fvwT8xHzAbeXDhDyEt1gjGGqvBUZoqoIJw%3D%3D" -O "feature_importances.csv" -c

--2018-06-18 15:19:19--  https://storage.googleapis.com/kaggle-datasets/28921/40754/feature_importances.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1529338183&Signature=HncQSjkQxBE%2BrDMJgOmP8oWENPigDv3qN7FOdNT4Ba3G9%2B8xgBnhwunlY0edPbKhpEUnmRQUiy9KtpaIj0s8ZtkIz%2BbalWTeDr72Y%2B0sBWrpsi9xYX97bSPpFRn9eikmvC4yLyV5irSAyhAgCXKWRtx3KYKQro44H3Bshu2MhIXqOX4gFotYkU8OvYOT5L8QSFqdxeC9I%2BS6okQu6qRGko%2F6cw9J7kuLvcYdVaqtv3pAbxPWLL9c%2FQ6AnBwBobBHEAHh7a8C4F%2FUzhtIhziqPzrQe3TVSokeaD2K3dKrlGjZ%2BZ93bhg4fvwT8xHzAbeXDhDyEt1gjGGqvBUZoqoIJw%3D%3D
Resolving storage.googleapis.com (storage.googleapis.com)... 209.85.147.128, 2607:f8b0:4001:c14::80
Connecting to storage.googleapis.com (storage.googleapis.com)|209.85.147.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 85223 (83K) [application/vnd.ms-excel]
Saving to: ‘feature_importances.csv’

feature_importances 100%[===================>]  83.23K  --.-KB/s    in 0.002s

2018-06-18 15:19:19 (54.0 MB/s) - ‘feature_importances.csv’ saved [85223/85223]

In [4]:
!cd data/homecredit/featuretools && ls && unzip feature_matrix.csv.zip && ls -al

feature_importances.csv  feature_matrix.csv.zip
Archive:  feature_matrix.csv.zip
  inflating: feature_matrix.csv
total 3940488
drwxr-xr-x 2 root root       4096 Jun 18 15:19 .
drwxr-xr-x 3 root root       4096 Jun 18 15:19 ..
-rw-r--r-- 1 root root      85223 Jun 15 00:51 feature_importances.csv
-rw-r--r-- 1 root root 3044059820 Jun 15 00:54 feature_matrix.csv
-rw-r--r-- 1 root root  990885600 Jun 15 01:31 feature_matrix.csv.zip

In [5]:
!cd data/homecredit/featuretools && ls -lah

total 3.8G
drwxr-xr-x 2 root root 4.0K Jun 18 15:19 .
drwxr-xr-x 3 root root 4.0K Jun 18 15:19 ..
-rw-r--r-- 1 root root  84K Jun 15 00:51 feature_importances.csv
-rw-r--r-- 1 root root 2.9G Jun 15 00:54 feature_matrix.csv
-rw-r--r-- 1 root root 945M Jun 15 01:31 feature_matrix.csv.zip

In [0]:
from fastai.imports import *

PATH = "data/homecredit/featuretools/"

In [57]:
reader = pd.read_csv(f'{PATH}feature_matrix.csv', chunksize=100000)
df = reader.get_chunk(100000)
df.head()

,SK_ID_CURR,NAME_TYPE_SUITE,REG_REGION_NOT_LIVE_REGION,EXT_SOURCE_2,OCCUPATION_TYPE,FLAG_PHONE,AMT_INCOME_TOTAL,AMT_CREDIT,REGION_RATING_CLIENT,REG_REGION_NOT_WORK_REGION,...,MIN(previous_app.MAX(credit.MONTHS_BALANCE)),MEAN(previous_app.MEAN(installments.NUM_INSTALMENT_NUMBER)),SUM(previous_app.MAX(installments.DAYS_ENTRY_PAYMENT)),MEAN(previous_app.MAX(installments.AMT_PAYMENT)),STD(previous_app.SUM(cash.CNT_INSTALMENT)),STD(previous_app.MIN(cash.CNT_INSTALMENT)),STD(previous_app.MEAN(credit.CNT_DRAWINGS_OTHER_CURRENT)),MIN(previous_app.STD(credit.CNT_DRAWINGS_OTHER_CURRENT)),MIN(previous_app.SKEW(credit.AMT_DRAWINGS_OTHER_CURRENT)),SKEW(previous_app.SUM(credit.AMT_RECEIVABLE_PRINCIPAL))
0,100001,Unaccompanied,0,0.789654,NaN,0,135000.0,568800.0,2,0,...,NaN,2.500000,-1628.0,17397.900,0.000000,0.000000,NaN,NaN,NaN,NaN
1,100002,Unaccompanied,0,0.262949,Laborers,1,202500.0,406597.5,2,0,...,NaN,10.000000,-49.0,53093.745,0.000000,0.000000,NaN,NaN,NaN,NaN
2,100003,Family,0,0.622246,Core staff,1,270000.0,1293502.5,1,0,...,NaN,4.666667,-3190.0,210713.445,39.262648,2.624669,NaN,NaN,NaN,NaN
3,100004,Unaccompanied,0,0.555912,Laborers,1,67500.0,135000.0,2,0,...,NaN,2.000000,-727.0,10573.965,0.000000,0.000000,NaN,NaN,NaN,NaN
4,100005,Unaccompanied,0,0.291656,Low-skill Laborers,0,99000.0,222768.0,2,0,...,NaN,5.000000,-470.0,17656.245,0.000000,0.000000,NaN,NaN,NaN,NaN

In [0]:
df_train = df[df['set'] == 'train']
df_test = df[df['set'] == 'test']

In [59]:
len(df_train)
len(df_test)

13827

In [60]:
feature_imp = pd.read_csv(f'{PATH}feature_importances.csv')
feature_imp.head()

   index            feature  importance
0     24  ORGANIZATION_TYPE        5504
1     74       EXT_SOURCE_1        2304
2      2       EXT_SOURCE_2        2298
3     42       EXT_SOURCE_3        2298
4    105        AMT_ANNUITY        1121

In [0]:
best_100 = feature_imp['feature'][:100].append(pd.Series(["SK_ID_CURR", "TARGET"]))

In [0]:
df_train_best_100 = df_train[best_100]
df_test_best_100 = df_test[best_100]

In [65]:
df_test_best_100.drop('TARGET', axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Fastai Start Here

In [0]:
from fastai.imports import *
from fastai.structured import *
from fastai.column_data import *
from torch.nn import functional as F
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [67]:
df_train_best_100.dtypes.value_counts()

float64    89
object      7
int64       6
dtype: int64

In [68]:
cat_vars = [col for col in df_train_best_100 if df_train_best_100[col].dtype.name != 'float64' and df_train_best_100[col].dtype.name != 'float32' and 
           len(df_train_best_100[col].unique()) < 150]
cat_vars

['ORGANIZATION_TYPE',
 'OCCUPATION_TYPE',
 'MODE(previous_app.PRODUCT_COMBINATION)',
 'CODE_GENDER',
 'NAME_FAMILY_STATUS',
 'NAME_EDUCATION_TYPE',
 'MODE(previous_app.NAME_GOODS_CATEGORY)',
 'REGION_RATING_CLIENT_W_CITY',
 'TARGET']

In [69]:
cat_vars.remove('TARGET')
cat_vars

['ORGANIZATION_TYPE',
 'OCCUPATION_TYPE',
 'MODE(previous_app.PRODUCT_COMBINATION)',
 'CODE_GENDER',
 'NAME_FAMILY_STATUS',
 'NAME_EDUCATION_TYPE',
 'MODE(previous_app.NAME_GOODS_CATEGORY)',
 'REGION_RATING_CLIENT_W_CITY']

In [70]:
cat_sz = [(c, len(df_train_best_100[c].unique())+1) for c in cat_vars]
cat_sz

[('ORGANIZATION_TYPE', 59),
 ('OCCUPATION_TYPE', 20),
 ('MODE(previous_app.PRODUCT_COMBINATION)', 19),
 ('CODE_GENDER', 4),
 ('NAME_FAMILY_STATUS', 7),
 ('NAME_EDUCATION_TYPE', 6),
 ('MODE(previous_app.NAME_GOODS_CATEGORY)', 28),
 ('REGION_RATING_CLIENT_W_CITY', 4)]

In [71]:
# Train and validation split
y = np.array(df_train_best_100['TARGET'])
df_train_best_100.drop('TARGET', axis=1, inplace=True)
df_to_nn_train, df_to_nn_valid, y_train, y_valid = train_test_split(df_train_best_100, y, test_size=0.33, random_state=23, stratify=y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
DataFrameSummary(df_to_nn_train).summary()

,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,AMT_ANNUITY,DAYS_BIRTH,AMT_CREDIT,MAX(bureau.DAYS_CREDIT),DAYS_ID_PUBLISH,DAYS_EMPLOYED,...,MEAN(previous_app.DAYS_DECISION),STD(previous_app.RATE_DOWN_PAYMENT),MIN(previous_app.SKEW(installments.AMT_PAYMENT)),SUM(previous_app.SELLERPLACE_AREA),MEAN(previous_app.AMT_ANNUITY),YEARS_BEGINEXPLUATATION_MEDI,MEAN(previous_app.SKEW(installments.AMT_PAYMENT)),DEF_30_CNT_SOCIAL_CIRCLE,MIN(previous_app.MAX(installments.AMT_INSTALMENT)),SK_ID_CURR
count,NaN,25248,57605,46336,57734,57735,57735,49514,57735,57735,...,54631,51367,54297,54631,54573,29662,54297,57542,54316,57735
mean,NaN,0.50382,0.514524,0.510842,27055.3,-16044.9,598559,-490.584,-3002.81,63760.7,...,-918.892,0.0350933,-1.32569,1440.02,14538.1,0.97778,0.0210853,0.141827,22033.6,149846
std,NaN,0.210919,0.191624,0.194985,14332.1,4364.58,401568,541.367,1509.68,141241,...,577.923,0.0514329,2.02657,4461.04,10082.4,0.0591566,1.73564,0.43706,68696.2,28864.2
min,NaN,0.0183608,8.17362e-08,0.000527265,1980,-25201,45000,-2922,-6265,-17531,...,-2922,0,-8.71853,-39,635.04,0,-7.02575,0,0,100004
25%,NaN,0.336069,0.39179,0.37065,16456.5,-19691.5,270000,-620,-4299,-2769.5,...,-1242.71,0,-3.01511,61,7823.2,0.9767,-1.1777,0,5246.01,124902
50%,NaN,0.509633,0.566477,0.535276,24900.8,-15754,512064,-298,-3274,-1216,...,-790,0,-1.78885,260,11979.9,0.9816,0,0,9009.02,149647
75%,NaN,0.676257,0.664266,0.669057,34582.5,-12419.5,808650,-142,-1731,-281,...,-468,0.0523657,0,1528,18357.3,0.9866,1.20986,0,16944.2,174898
max,NaN,0.951624,0.855,0.89601,225000,-7680,4.05e+06,0,0,365243,...,-2,0.472388,9.94893,224213,300425,1,9.94893,5,2.73361e+06,200000
counts,57735,25248,57605,46336,57734,57735,57735,49514,57735,57735,...,54631,51367,54297,54631,54573,29662,54297,57542,54316,57735
uniques,58,24474,43962,739,9197,16129,3506,2711,5823,8458,...,23633,24314,26943,6976,53149,179,43983,6,47756,57735
missing,0,32487,130,11399,1,0,0,8221,0,0,...,3104,6368,3438,3104,3162,28073,3438,193,3419,0
missing_perc,0%,56.27%,0.23%,19.74%,0.00%,0%,0%,14.24%,0%,0%,...,5.38%,11.03%,5.95%,5.38%,5.48%,48.62%,5.95%,0.33%,5.92%,0%
types,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

In [0]:
def preprocess_fast_ai(df_to_nn_train, df_to_nn_valid, cat_vars):
  # Declare categorical variables
  for v in cat_vars:
    df_to_nn_train[v] = df_to_nn_train[v].astype('category').cat.as_ordered()
  apply_cats(df_to_nn_valid, df_to_nn_train)
  
  # Deal with missingness and put everything as number
  df, _, nas, mapper = proc_df(df_to_nn_train, do_scale=True, skip_flds=['SK_ID_CURR'])
  df_valid, _, nas, mapper = proc_df(df_to_nn_valid, do_scale=True, na_dict=nas, mapper=mapper, skip_flds=['SK_ID_CURR'])
  
  return df, df_valid

In [97]:
df, df_valid = preprocess_fast_ai(df_to_nn_train, df_to_nn_valid, cat_vars)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/fastai/structured.py:200: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[n] = pd.Categorical(c, categories=trn[n].cat.categories, ordered=True)
/usr/local/lib/python3.6/dist-packages/fastai/structured.py:425: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.drop(ignore_flds, axis=1, inplace=True)
/usr/local/lib/python3.6/dist-packages/fastai/structured.py:425: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.drop(ignore_flds, axis=1, inplace=True)

In [98]:
DataFrameSummary(df).summary()

,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,AMT_ANNUITY,DAYS_BIRTH,AMT_CREDIT,MAX(bureau.DAYS_CREDIT),DAYS_ID_PUBLISH,DAYS_EMPLOYED,...,MIN(previous_app.MEAN(installments.AMT_PAYMENT))_na,MEAN(previous_app.DAYS_DECISION)_na,STD(previous_app.RATE_DOWN_PAYMENT)_na,MIN(previous_app.SKEW(installments.AMT_PAYMENT))_na,SUM(previous_app.SELLERPLACE_AREA)_na,MEAN(previous_app.AMT_ANNUITY)_na,YEARS_BEGINEXPLUATATION_MEDI_na,MEAN(previous_app.SKEW(installments.AMT_PAYMENT))_na,DEF_30_CNT_SOCIAL_CIRCLE_na,MIN(previous_app.MAX(installments.AMT_INSTALMENT))_na
count,57735,57735,57735,57735,57735,57735,57735,57735,57735,57735,...,57735,57735,57735,57735,57735,57735,57735,57735,57735,57735
mean,30.444,7.84877e-16,-1.90758e-16,4.88587e-16,-2.79983e-17,1.29962e-16,-9.94403e-17,2.87983e-17,-3.63056e-17,-1.04917e-17,...,-3.82747e-17,-4.60281e-17,8.34412e-17,-7.87646e-17,-4.60281e-17,6.39962e-18,4.96586e-17,-7.87646e-17,-1.74451e-17,-6.91652e-17
std,20.4382,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,...,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001,1.00001
min,1,-3.50329,-2.68851,-2.94454,-1.74961,-2.09784,-1.3785,-4.86093,-2.16087,-0.575559,...,-0.25093,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,-0.972846,-0.251632,-0.0579143,-0.250891
25%,6,0.0182225,-0.638704,-0.563407,-0.739521,-0.835507,-0.818196,-0.143996,-0.858597,-0.471045,...,-0.25093,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,-0.972846,-0.251632,-0.0579143,-0.250891
50%,34,0.0182225,0.270791,0.112091,-0.150327,0.0666504,-0.215394,0.326511,-0.179639,-0.460046,...,-0.25093,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,-0.972846,-0.251632,-0.0579143,-0.250891
75%,48,0.0182225,0.780728,0.689979,0.525213,0.830648,0.523181,0.587465,0.842442,-0.453426,...,-0.25093,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,1.02791,-0.251632,-0.0579143,-0.250891
max,58,3.18647,1.77805,2.17404,13.8115,1.91656,8.59498,0.915634,1.98905,2.13455,...,3.98517,4.19526,2.84015,3.97407,4.19526,4.1544,1.02791,3.97407,17.2669,3.98579
counts,57735,57735,57735,57735,57735,57735,57735,57735,57735,57735,...,57735,57735,57735,57735,57735,57735,57735,57735,57735,57735
uniques,58,24475,43962,739,9198,16129,3506,2711,5823,8458,...,2,2,2,2,2,2,2,2,2,2
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,bool,bool,bool,bool,bool,bool,bool,bool,bool,bool

In [99]:
emb_szs = [(c, min(50, (c+1)//2)) for _, c in cat_sz]
emb_szs

[(59, 30), (20, 10), (19, 10), (4, 2), (7, 4), (6, 3), (28, 14), (4, 2)]

In [0]:
# Define the data loader

md = ColumnarModelData.from_data_frames(PATH, trn_df=df, val_df=df_valid, trn_y=y_train.astype('int'), val_y=y_valid.astype('int'), cat_flds=cat_vars, bs=512, is_reg=False, is_multi=False)

In [0]:
class MixedInputModel(nn.Module):
    def __init__(self, emb_szs, n_cont, emb_drop, out_sz, szs, drops,
                 y_range=None, use_bn=False, is_reg=True, is_multi=False):
        super().__init__()
        self.embs = nn.ModuleList([nn.Embedding(c, s) for c,s in emb_szs])
        for emb in self.embs: emb_init(emb)
        n_emb = sum(e.embedding_dim for e in self.embs)
        self.n_emb, self.n_cont= n_emb, n_cont
        szs = [n_emb + n_cont] + szs
        self.lins = nn.ModuleList([
            nn.Linear(szs[i], szs[i+1]) for i in range(len(szs)-1)])
        self.bns = nn.ModuleList([
            nn.BatchNorm1d(sz) for sz in szs[1:]])
        for o in self.lins: kaiming_normal(o.weight.data)
        self.outp = nn.Linear(szs[-1], out_sz)
        kaiming_normal(self.outp.weight.data)
        
        self.emb_drop = nn.Dropout(emb_drop)
        self.drops = nn.ModuleList([nn.Dropout(drop) for drop in drops])
        self.bn = nn.BatchNorm1d(n_cont)
        self.use_bn,self.y_range = use_bn,y_range
        self.is_reg = is_reg
        self.is_multi = is_multi

    def forward(self, x_cat, x_cont):
        x = []
        for i,e in enumerate(self.embs):
            x.append(e(x_cat[:,i]))
        x = torch.cat(x, 1)
        x = self.emb_drop(x)
        x2 = self.bn(x_cont)
        x = torch.cat([x, x2], 1)
        for l,d,b in zip(self.lins, self.drops, self.bns):
            x = F.relu(l(x))
            if self.use_bn: x = b(x)
            x = d(x)
        x = self.outp(x)
        x = F.log_softmax(x)
        return x

In [103]:
# Define Model
m = MixedInputModel(emb_szs, n_cont = len(df.columns)-len(cat_vars),
                   emb_drop = 0.05, out_sz = 2, szs = [500, 250, 250], drops = [0.1, 0.1, 0.1], 
                   y_range = None, use_bn = False, is_reg = False, is_multi = False)
bm = BasicModel(m.cuda(), 'binary_classifier')

RuntimeError: ignored

In [0]:
# Define Learner
class StructuredLearner(Learner):
    def __init__(self, data, models, **kwargs):
        super().__init__(data, models, **kwargs)
        self.crit = F.nll_loss
# Instantiate learner
learn = StructuredLearner(md, bm)

In [0]:
learn.lr_find(1e-4, 1)
learn.sched.plot()

In [91]:
df.columns

Index(['ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'AMT_ANNUITY', 'DAYS_BIRTH', 'AMT_CREDIT', 'MAX(bureau.DAYS_CREDIT)',
       'DAYS_ID_PUBLISH', 'DAYS_EMPLOYED',
       ...
       'MIN(previous_app.MEAN(installments.AMT_PAYMENT))_na',
       'MEAN(previous_app.DAYS_DECISION)_na',
       'STD(previous_app.RATE_DOWN_PAYMENT)_na',
       'MIN(previous_app.SKEW(installments.AMT_PAYMENT))_na',
       'SUM(previous_app.SELLERPLACE_AREA)_na',
       'MEAN(previous_app.AMT_ANNUITY)_na', 'YEARS_BEGINEXPLUATATION_MEDI_na',
       'MEAN(previous_app.SKEW(installments.AMT_PAYMENT))_na',
       'DEF_30_CNT_SOCIAL_CIRCLE_na',
       'MIN(previous_app.MAX(installments.AMT_INSTALMENT))_na'],
      dtype='object', length=184)

In [84]:
df_valid.describe()

,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,AMT_ANNUITY,DAYS_BIRTH,AMT_CREDIT,MAX(bureau.DAYS_CREDIT),DAYS_ID_PUBLISH,DAYS_EMPLOYED,...,MIN(previous_app.MEAN(installments.AMT_PAYMENT))_na,MEAN(previous_app.DAYS_DECISION)_na,STD(previous_app.RATE_DOWN_PAYMENT)_na,MIN(previous_app.SKEW(installments.AMT_PAYMENT))_na,SUM(previous_app.SELLERPLACE_AREA)_na,MEAN(previous_app.AMT_ANNUITY)_na,YEARS_BEGINEXPLUATATION_MEDI_na,MEAN(previous_app.SKEW(installments.AMT_PAYMENT))_na,DEF_30_CNT_SOCIAL_CIRCLE_na,MIN(previous_app.MAX(installments.AMT_INSTALMENT))_na
count,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,...,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000,28438.000000
mean,30.301498,-0.004511,-0.006588,-0.001988,0.004308,0.009393,0.000924,-0.010764,0.016241,-0.008645,...,-0.002466,-0.003260,0.000266,-0.002441,-0.003260,-0.001156,0.007341,-0.002441,-0.008568,-0.002542
std,20.414290,0.998516,0.998908,1.000342,1.025674,1.001963,1.000403,1.005691,1.001557,0.992659,...,0.995399,0.993542,1.000349,0.995462,0.993542,0.997753,1.000193,0.995462,0.923314,0.995255
min,1.000000,-3.530474,-2.688450,-2.944537,-1.707539,-2.096464,-1.378504,-4.860935,-2.135038,-0.568224,...,-0.250930,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,-0.972846,-0.251632,-0.057914,-0.250891
25%,6.000000,0.018222,-0.643264,-0.580928,-0.736382,-0.822103,-0.818196,-0.167719,-0.854622,-0.471006,...,-0.250930,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,-0.972846,-0.251632,-0.057914,-0.250891
50%,34.000000,0.018222,0.268631,0.112091,-0.150170,0.066536,-0.201857,0.326511,-0.149168,-0.460096,...,-0.250930,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,-0.972846,-0.251632,-0.057914,-0.250891
75%,47.000000,0.018222,0.777299,0.689979,0.526155,0.855050,0.523181,0.583511,0.868275,-0.453624,...,-0.250930,-0.238364,-0.352095,-0.251632,-0.238364,-0.240709,1.027912,-0.251632,-0.057914,-0.250891
max,58.000000,3.134830,1.778047,2.113905,16.115859,1.917475,8.594978,0.913657,1.988390,2.134545,...,3.985170,4.195258,2.840145,3.974065,4.195258,4.154397,1.027912,3.974065,17.266878,3.985789

In [0]:
learner = md.get_learner(emb_szs, len(df.columns)-len(cat_vars), 0.04, 1, [1000, 500], [0.001, 0.01])

In [93]:
learner.lr_find()

HBox(children=(IntProgress(value=0, description='Epoch', max=1), HTML(value='')))

  0%|          | 0/113 [00:00<?, ?it/s]

RuntimeError: ignored